<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<br><br><br><br><div class="alert alert-danger" role="alert" ng-show="error">{{error}}</div>
<p>This is the partial for view 3.</p>
<p>Data is fetched from a REST service, connected to MongoDB </p>


<ul>
    <div class="panel panel-default">
        <table class="table">
            <tr>
                <th><a href="" ng-click="predicate = 'username'; reverse=!reverse">Username</a></th>
                <th><a href="" ng-click="predicate = 'name'; reverse=!reverse">Name</a></th>
                <th><a href="" ng-click="predicate = 'points'; reverse=!reverse">Points</a></th>
                <th><select class="form-control-xs" ng-model="filterclass">
                    <option value="">All Classes</option>
                    <option ng-repeat="class in getClasses()">{{class}}</option>
                </select></th>
                <th><select class="form-control-xs" ng-model="filtersemester">
                    <option value="">All Semesters</option>
                    <option>1st Semester</option>
                    <option>2nd Semester</option>
                    <option>3rd Semester</option>
                    <option>4th Semester</option>
                    <option>5th Semester</option>
                </select></th>

            </tr>
            <tr ng-repeat="student in students | filter:filterclass | filter:filtersemester | orderBy:predicate:reverse">

                <td>{{student.username}}</td>
                <td>{{student.name}}</td>
                <td>{{student.points}}</td>
                <td>{{student.class}}</td>
                <td>{{student.semester}}</td>
                <td><button ng-click="deleteStudent()" type="button" class="btn btn-default btn-sm" >
                    <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> Remove
                </button></td>

            </tr>
        </table>
    </div>
</ul>