
<br><br><br><br><br><br><br>

<br>
<br>
<div class="container">
    <p>Class:</p>
    <form role="form">
        <div class="checkbox">
            <label><input type="checkbox" value="">Datamatiker</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="">Multimedia</label>
        </div>
        <div class="checkbox disabled">
            <label><input type="checkbox" value="" >Marketing</label>
        </div>
    </form>
</div>
<div class="container">

    <p>Semester:</p>
    <form role="form">
        <div class="checkbox">
            <label><input type="checkbox" value="">1. Semester</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="">2.Semester</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="">3. Semester</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="">4. Semester</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="">5. Semester</label>
        </div>
    </form>
</div>

<input type ="text" ng-model="data" class="form-control" placeholder="Username">
<br>
<input type ="text" ng-model="data" class="form-control" placeholder="Password">
<br>
<input type ="text" ng-model="data" class="form-control" placeholder="Name">
<br>
<button type="button" class="btn btn-default btn-sm" >
    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Submit
</button></td>
