
<br><br><br><br>

<h3><span class="label label-default">Add User</span></h3>


Toggle Student/Teacher <input type="checkbox" ng-model="checked"><br/>

<div class="jumbotron" ng-hide="checked" >
<h3><span class="label label-default">Teacher</span></h3>



<form >
<input type ="text" ng-model="nameteacher" class="form-control" placeholder="Name" >

<br>
<input type ="text" ng-model="usernameteacher" class="form-control" placeholder="Username" >

<br>
<input type ="text"  ng-model="passwordteacher" class="form-control" placeholder="Password">
    <span ng-show="!passwordteacher || !usernameteacher || !nameteacher ">Please fill all fields</span>
<br>
</form>


<button ng-click="addteacher()" type="button" class="btn btn-default btn-sm" ng-disabled="!nameteacher || !usernameteacher || !passwordteacher"  >
    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Submit
</button></td>
</div>

<div class="jumbotron" ng-show="checked" >
    <h3><span class="label label-default">Student</span></h3>


    <form role="form">
        <div  class="form-group">
            <label >Class:</label>
            <select  ng-model="classstudent" class="form-control" id="sel2">
                <option>data</option>
                <option>datb</option>
                <option>COS</option>
                <option>mula</option>
                <option>mulb</option>

            </select>

        </div>

    </form>

    <form role="form">
        <div class="form-group">
            <label for="sel2">Semester:</label>
            <select ng-model="semesterstudent" class="form-control" id="sel3">
                <option>1st Semester</option>
                <option>2nd Semester</option>
                <option>3rd Semester</option>
                <option>4th Semester</option>
                <option>5th Semester</option>
            </select>

        </div>

    </form>

    <input type ="text" ng-model="namestudent" class="form-control" placeholder="Name">
    <br>
    <input type ="text" ng-model="usernamestudent" class="form-control" placeholder="Username">
    <br>
    <input type ="password" ng-model="passwordstudent" class="form-control" placeholder="Password">
    <br>

    <button ng-click="addstudent()" type="button" class="btn btn-default btn-sm" ng-disabled="!classstudent || !semesterstudent || !namestudent
            || !usernamestudent || !passwordstudent ">
        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Submit
    </button></td>
</div>