<h3><span class="label label-default">Add Periode</span></h3>

<div class="jumbotron" >
    <h3><span class="label label-default">Period</span></h3>



    <form >


        <label >SemesterClass:</label>
        <select  ng-model="semesterclassmodel" class="form-control" id="sel2">
            <option value="">Choose one</option>
            <option ng-repeat="class in semesterclass">{{class.semesterclassname}}</option>
        </select>
        <br>
        <input type ="text" ng-model="nameperiodmodel" class="form-control" placeholder="Name of Period" >
        <br>
        <input type ="text" ng-model="descriptionperiodmodel" class="form-control" placeholder="Description" >
        <br>
        <input type ="date" ng-model="startperiodmodel" class="form-control" placeholder="Start" >
        <br>
        <input type ="date" ng-model="endperiodmodel" class="form-control" placeholder="End" >
        <br>
        <input type ="number" ng-model="maxpointsmodel" class="form-control" placeholder="maxpoints" >
        <br>
        <input type ="number" ng-model="requiredpointsmodel" class="form-control" placeholder="Required points" >
        <br>

        <button ng-click="addperiodsemesterclass()" type="button" class="btn btn-default btn-sm" >
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Submit
        </button></td>



    </form>

    </div>