<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<br><br><br><br><div class="alert alert-danger" role="alert" ng-show="error">{{error}}</div>


<h3><span class="label label-default">Add Studypoints</span></h3>



<ul>
    <div class="panel panel-default">
        <table class="table">
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Points</td>
                <td>Class</td>
                <td>Semester</td>
                <td>Add point</td>
                <td>Remove point</td>
                <td>Number of Points </td>

            </tr>
            <tr ng-repeat="student in students">
                <td>{{student.id}}</td>
                <td>{{student.name}}</td>
                <td>{{student.points}}</td>
                <td>{{student.class}}</td>
                <td>{{student.semester}}</td>

                <td><button type="button" class="btn btn-default btn-sm" ng-click="increase(student.id, student.points,data)">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button></td>
                <td><button type="button" class="btn btn-default btn-sm" ng-click="decrease(student.id, student.points, data)"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                </button></td>
                <td><div class="col-xs-4"><input type ="number" ng-model="data" class="form-control" placeholder="1"></div> </td>
            </tr>
        </table>

</ul>