<h3><span class="label label-default">Change Password</span></h3>

<div class="jumbotron">

    <input type ="text" ng-model="profileuser" class="form-control" placeholder="Username">
    <br>
    <input type ="text" ng-model="oldpass" class="form-control" placeholder="Old password">
    <br>
    <input type ="text" ng-model="data2" class="form-control" placeholder="New password">
    <br>
    <input type ="text" ng-model="newpass" class="form-control" placeholder="Confirm new password">
    <br>

    <button ng-click="newpassword()" type="button" class="btn btn-default btn-sm" >
        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Submit
    </button></td>
</div>

